# Qt specific
*.o
*.a
*.so
*.dylib
*.dll
*.log
Makefile
moc_*.cpp
qrc_*.cpp
ui_*.h
*.user
*.qmake.stash
debug/
release/
build/
*.pro.user
*.qbs
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
ipch/
obj/
*.ilk
*.pdb
*.tmp
*.un~*